*{
    color: white;
}
body{
   margin: auto;
   padding: 4%;
   box-sizing: border-box;
}
.main_point{
    background-color: black;
    padding: 30px;
    width: 65%;
    margin: auto;
    padding: auto;
    height: 840px;
    justify-content: center;
    border-radius: 20px;
}
.screen{
    width: 100%;
    height: 86px;
    background-color: grey;
    border-radius: 30px;
    height: 123px;
}
.section{
    display: grid;
    color: white;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    height: 44px;
    gap: 23px;
}
.section button{
    border-radius: 100px;
    height: 100px;
    font-size: 50PX;
    color: black!important;
}
.ok h1{
    display: flex;
    color: white;
    justify-content: center;
}

.section button:hover{
font-style: italic;
 background: linear-gradient(to bottom, red, orange)
}
.screen{
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
.result{
    display: flex;
    justify-content: flex-end;
    
}